body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border-radius: 10px;
    background-color: chartreuse;
    font-weight: bolder;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

button:hover{
    background-color: green;
}