*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    clear: both;
  }
  .item{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: green;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
  }
  .grid-container{
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }
  
  .item:nth-child(1){
    grid-column: span 2;
  }
  
  .item:nth-child(4){
    grid-column: span 2;
  }
  
  .item:nth-child(5){
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
  