@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Indie Flower';
    background-color: #c7bbe0;
}
html{
    scroll-behavior: smooth;
}

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out; 
}

header.scrolled {
  background-color: #7f6aac; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 80px; 
  width: 80px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}

ul li {
  margin-right: 50px;
}

ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.5s ease;
}

ul li a:hover {
  color: #ffffff; 
}



img {
    z-index: 1;
    height: 50%;
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-80%, -70%) rotate(-99deg);
    animation: moveUpDown 12s ease-in-out infinite;
}


@keyframes moveUpDown {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    }
    50% {
      top: 60%;
      transform: translate(-50%, -50%) rotate(-40deg);
    }
    100% {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-35deg);
    }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
      top: 90%;
    }
    40% {
      top: 85%;
    }
    60% {
      top: 88%;
    }
}
