@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Indie Flower';
    background-color: rgrgb(0, 0, 0);
}
html{
    scroll-behavior: smooth;
}

.main-image {
    height: 90vh;
    background: linear-gradient(
      to top left,
      #fff,
      #4a3894,
      #bcadd4,
      #7f6aac
    );
}

.main-image img {
    z-index: 1;
    height: 50%;
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-80%, -70%) rotate(-99deg);
    animation: moveUpDown 12s ease-in-out infinite;
}


@keyframes moveUpDown {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    }
    50% {
      top: 60%;
      transform: translate(-50%, -50%) rotate(-40deg);
    }
    100% {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-35deg);
    }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
      top: 90%;
    }
    40% {
      top: 85%;
    }
    60% {
      top: 88%;
    }
}