body {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1a1b26;
    margin: 4em auto;
}

h1,h2,p,button,input{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

h1{
    font-size: 2rem;
}

p,span{
    font-size: .75rem;
}

.display {
    font-size: 32px;
    text-align: right;
    color: #a3a5b6;
    background-color: #2a2d3b;
    padding: 15px;
    border-radius: 10px;
}

.container {
    background-color: #1a1b26;
    color: #a3a5b6;
    padding: 24px;
    max-width: 540px;
}

.header {
    color: #a3a5b6;
    margin-bottom: 20px;
}

.keyboard {
    background-color: #2a2d3b;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    padding: 32px;
    border-radius: 10px;
    justify-content: center;
}

.btn {
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #f0f1f6;
    box-shadow: 0 4px 0 0 #a3a5b6;
    color: #1a1b26;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #fff;
}

@media (min-width: 400px) {
    .container {
        margin: 2em auto;
    }

    .keyboard {
        gap: 25px;
        padding: 40px;
    }

    .display {
        font-size: 40px;
    }
}

@media (min-width: 450px) {
    .keyboard {
        gap: 30px;
        padding: 40px;
    }

    .display {
        font-size: 48px;
    }
}

.attribution {
    font-size: 12px;
    text-align: center;
    color: #a3a5b6;
    margin-top: 40px;
}

.attribution a {
    color: #ff8a38;
    text-decoration: none;
}

.attribution a:hover {
    color: #fff;
    background-color: #62b5bc;
    padding: 8px;
    border-radius: 10px;
}
