#container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: rgb(15, 148, 35);
    position: relative;
}

#child {
    width: 200px;
    height: 20px;
    background-color: red;
    border-radius: 30px;
    position: absolute;
}