 body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#text-container {
    margin-bottom: 40px;
}

textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    color: #fff;
    background-color: #45a049;
}
button {
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #96d399;
}

#results {
    font-size: 16px;
} 