body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 50px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:  hsl(0, 0%, 20%);
    color: white;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(125, 45%, 50%);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 54%);
}
.o{
    background-color: rgb(233, 156, 12);
}
.o:hover{
    background-color: rgb(253, 202, 107);
}
.o:active{
    background-color: rgb(255, 246, 228);
}